
body {
    background-image: url("img/coffee blue bg.webp");
    /*color: #808080;*/
}
#mainHeader {
    text-align: center;
    font-family: "American Typewriter";
    margin-bottom: .5em;
}
section {

    padding: 3em;
}
select {
    background-color: #d67d53;
}
input {
    background-color: #88745e;
    text-decoration: white;
}
text {
    color: white;
}
p {
    align-content: flex-end;
    padding: 20px;
    color: #d67d53;
    font-weight: bold;
    font-size: larger;
}
.coffee {
    border: ridge blanchedalmond .5em;
    background-color: #5f4935;
    margin-bottom: 15px;
}
h1{
    color: blanchedalmond;
}
form {
    width: 500px;
}