body {
    background-image: url("img/coffee blue bg.webp");
}
#mainHeader {
    text-align: center;
    font-family: "American Typewriter";
    margin-bottom: .5em;
    font-size: 60px;
}
section {
    padding: 3em;
}
select {
    background-color: #D67D53;
}
input {
    background-color: #88745E;
    text-decoration: white;
}
p {
    align-content: flex-end;
    padding: 20px;
    color: #D67D53;
    font-weight: bold;
    font-size: larger;
}
.coffee {
    border: ridge blanchedalmond .5em;
    background-color: #5F4935;
    margin-bottom: 15px;
}
h1{
    color: blanchedalmond;
}
form {
    width: 500px;
}
h2 {
    font-family: "American Typewriter";
}
.img-text {
    color: blanchedalmond;
}
.slide2 {
    width: 100%;
    height: 450px;
}